/* ==================== MODAL WINDOW ==================== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% - 32px);
  max-width: 408px;

  background-color: #fcfcfc;
  border-radius: 4px;

  padding: 72px 16px 24px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-title {
  width: 100%;
  margin: 0 0 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.form-field {
  display: flex;
  flex-direction: column;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 8px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
/* Форм-контейнер */
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/* ==================== MOBILE MODAL ==================== */

@media (max-width: 767px) {
  .modal {
    width: 288px;
    height: 619px;
    max-width: 408px;
    padding: 72px 16px 24px;
  }
  .modal-close-btn {
    top: 16px;
    right: 16px;
  }
}
.form-input:focus + .form-icon {
  color: #4d5ae5;
}

.form-textarea {
  resize: none;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
}

.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

/* Іконки в полях */
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #2e2f42;
  pointer-events: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* При фокусі — рамка і іконка змінюють колір */
.form-input:focus,
.form-textarea:focus {
  border-color: #4d5ae5;
  outline: none;
}

/* Іконка змінює колір при ховері інпута */
.form-input:hover + .form-icon {
  color: #4d5ae5;
}
.form-checkbox-wrapper {
  margin-top: 8px;
  margin-bottom: 16px;
}

.form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  margin-right: 8px;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-checkbox-label .checkbox-icon {
  opacity: 1;
}

.form-checkbox:checked + .form-checkbox-label .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}
@media (min-width: 768px) {
  .modal {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px;
  }

  .modal-close-btn {
    top: 24px;
    right: 24px;
  }
}
