.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4); /* темний з прозорістю */
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: rgba(231, 233, 252, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 8px;
  height: 8px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}
/* Форм-контейнер */
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal-title {
  margin-bottom: 16px;
  text-align: center;
  font-size: 24px;
  line-height: 1.27;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 500;
}
/* Обгортка одного поля */
.form-field {
  display: flex;
  flex-direction: column;
}

/* Підпис */
.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  font-weight: 400;
}

/* Обгортка input + іконка */
.form-input-wrapper {
  position: relative;
}

/* Стиль для input та textarea */
.form-input,
.form-textarea {
  width: 100%;
  padding: 8px 16px 8px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
}
.form-input {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.form-input:focus + .form-icon {
  color: #4d5ae5;
}
.form-textarea {
  resize: none;
  height: 120px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
}
.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
/* Іконки в полях */
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #2e2f42;
  pointer-events: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* При фокусі — рамка і іконка змінюють колір */
.form-input:focus,
.form-textarea:focus {
  border-color: #4d5ae5;
  outline: none;
}

/* Іконка змінює колір при ховері інпута */
.form-input:hover + .form-icon {
  color: #4d5ae5;
}

/* Обгортка чекбокса */
.form-checkbox-wrapper {
  margin-top: 8px;
  margin-bottom: 16px;
}
.form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-link {
  color: #4d5ae5;
  text-decoration: underline;
}
/* Контейнер, що замінює checkbox */
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  margin-right: 8px;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked + .form-checkbox-label .checkbox-icon {
  opacity: 1;
}
/* При :checked — змінюємо фон і показуємо галочку */
.form-checkbox:checked + .form-checkbox-label .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 0px;
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
